.counter-box{
display:flex;
justify-content:space-between;
margin-top:20px;
gap:10px;
}

.counter-item{
flex:1;
background:linear-gradient(135deg,#ffe0f0,#e3fff9);
padding:15px;
border-radius:10px;
text-align:center;
box-shadow:0 5px 15px rgba(0,0,0,0.08);
}

.counter-item h3{
margin:0;
color:#2a9d8f;
font-size:20px;
}

.counter-item p{
margin-top:5px;
font-size:14px;
color:#555;
}
